<h2>Personal details</h2>

<fieldset>
  <label for="name">Name</label>
  <input id="name" name="entrant[name]" required autocompletetype="name">
</fieldset>

<fieldset>
  <label for="email">Email</label>
  <input id="email" name="entrant[email]" type="email" required autocompletetype="email">
</fieldset>

<fieldset>
  <label for="diet">Dietary or other requirements</label>
  <textarea id="diet" name="entrant[dietary_reqs]"></textarea>
</fieldset>

<h2>I think I'll need the bus to get to camp</h2>
<p>This isn't a ticket for the bus, just an indication for our planning.
<a class="camp-location" href="https://www.google.com.au/maps?q=YMCA+Yarramundi+Youth+Camp+near+Chatswood+New+South+Wales&ll=-33.755173,150.971375&spn=0.581169,1.182404&sll=-33.795655999999994,151.18295919999997&sspn=0.02739103578552741,0.04394777335554132&t=m&dg=opt&hq=YMCA+Yarramundi+Youth+Camp&z=10" target="_blank">Camp location.</a><p>
<fieldset>
  <input id="transport-bus" type="radio" name="entrant[wants_bus]" value="true" autocomplete="off" required>
  <label for="transport-bus">I want to ride the bus.</label>
  <input id="transport-other" type="radio" name="entrant[wants_bus]" value="false" autocomplete="off" required>
  <label for="transport-other">I'm driving/riding/flying under my own steam.</label>
</fieldset>

